{% extends "base.html" %}
{% block container %}
    <h2>Как пользоваться этим сайтом</h2>
    <h3>Шифрование</h3>
    <p>Сайт может принять текст на&nbsp;русском или английском языке, очистить его от&nbsp;пунктуации и&nbsp;заменить каждый символ, включая пробел, на&nbsp;какой-нибудь математический символ (одинаковым буквам соответствуют одинаковые символы).</p>
    <h3>Расшифровка</h3>
    <p>Получив закодированный текст (с&nbsp;указанием яыка исходного сообщения), сайт выполнит заданное число итераций алгоритма Метрополиса в&nbsp;попытке расшифровать сообщение. Будет выдана наилучшая полученная в&nbsp;процессе версия.
    Чем больше зашифрованный текст, тем лучше сработает алгоритм. Рекомендуется использовать сообщение из&nbsp;хотя&nbsp;бы тысячи символов и&nbsp;делать несколько тысяч итераций.</p>
{% endblock %}
